doctype html
html(lang='en', ng-app='app')
    head
        title(ng-bind='$state.current.data.title')
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='author', content='')
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1')
        link(rel='stylesheet', href='/css/style.css')
        base(href='/index.html')
    body
        div(ui-view='modal')
        div(ui-view='header')
        div(ui-view='page')
        div(ui-view='footer')

        //- script(src='/js/app.min.js')
        script(src='/js/vendor/jquery/dist/jquery.min.js')
        script(src='/js/vendor/angular/angular.js')
        script(src='/js/vendor/angular-animate/angular-animate.js')
        script(src='/js/vendor/angular-cookies/angular-cookies.js')
        script(src='/js/vendor/angular-messages/angular-messages.min.js')
        script(src='/js/vendor/angular-resource/angular-resource.js')
        script(src='/js/vendor/angular-sanitize/angular-sanitize.js')
        script(src='/js/vendor/angular-google-analytics/dist/angular-google-analytics.min.js')
        script(src='/js/vendor/angular-google-maps/dist/angular-google-maps.min.js')
        script(src='/js/vendor/angular-scroll/angular-scroll.js')
        script(src='/js/vendor/angular-ui-mask/dist/mask.js')
        script(src='/js/vendor/angular-ui-router/release/angular-ui-router.js')
        script(src='/js/vendor/angular-elastic/elastic.js')
        script(src='/js/vendor/lodash/dist/lodash.min.js')
        script(src='/js/vendor/angular-base64-upload/dist/angular-base64-upload.js')
        script(src='/js/vendor/angular-file-saver/dist/angular-file-saver.bundle.js')
        script(src='/js/vendor/angular-material/angular-material.js')
        script(src='/js/vendor/angular-aria/angular-aria.js')
        script(src='/js/vendor/ngMeta/dist/ngMeta.js')
        script(src='/js/vendor/satellizer/satellizer.js')
        script(src='/js/app/app.module.js')
        script(src='/js/app/app.config.js')
        script(src='/js/app/app.routes.js')
        script(src='/js/app/app.run.js')
        script(src='/js/common/common.controller.js')
        script(src='/js/header/header.controller.js')
        script(src='/js/header/header.member.controller.js')
        script(src='/js/header/header.backend.controller.js')
        script(src='/js/index/index.module.js')
        script(src='/js/index/index.routes.js')
        script(src='/js/index/index.service.js')
        script(src='/js/index/index.text.service.js')
        script(src='/js/index/index.email.service.js')
        script(src='/js/index/index.location.service.js')
        script(src='/js/index/index.zip.service.js')
        script(src='/js/index/index.controller.js')
        script(src='/js/index/index.text.modal.controller.js')
        script(src='/js/index/index.email.modal.controller.js')
        script(src='/js/index/index.save.modal.controller.js')
        script(src='/js/index/index.print.modal.controller.js')
        script(src='/js/question/question.module.js')
        script(src='/js/question/question.routes.js')
        script(src='/js/question/question.controller.js')
        script(src='/js/testimonial/testimonial.module.js')
        script(src='/js/testimonial/testimonial.routes.js')
        script(src='/js/about/about.module.js')
        script(src='/js/about/about.routes.js')
        script(src='/js/about/about.contact.service.js')
        script(src='/js/about/about.controller.js')
        script(src='/js/privacy/privacy.module.js')
        script(src='/js/privacy/privacy.routes.js')
        script(src='/js/terms/terms.module.js')
        script(src='/js/terms/terms.routes.js')
        script(src='/js/member/member.module.js')
        script(src='/js/member/member.routes.js')
        script(src='/js/member/member.controller.js')
        script(src='/js/member/member.view.controller.js')
        script(src='/js/member/member.text.modal.controller.js')
        script(src='/js/member/member.email.modal.controller.js')
        script(src='/js/member/member.save.modal.controller.js')
        script(src='/js/member/member.print.modal.controller.js')
        script(src='/js/account/account.module.js')
        script(src='/js/account/account.routes.js')
        script(src='/js/account/account.service.js')
        script(src='/js/account/account.list.controller.js')
        script(src='/js/account/account.add.controller.js')
        script(src='/js/account/account.edit.controller.js')
        script(src='/js/user/user.module.js')
        script(src='/js/user/user.routes.js')
        script(src='/js/user/user.login.controller.js')
        script(src='/js/user/user.register.controller.js')
        script.
            (function(d) {
                var config = {
                    kitId: 'vna6vda',
                    scriptTimeout: 3000
                },
                h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
            })(document);
        script.
            $(document).ready(function(){
                $.getScript('//'+location.hostname+':35729/livereload.js');
            });